*.class
.DS_Store
projects/org.apache.hadoop.eclipse.updateSite/artifacts.jar
projects/org.apache.hadoop.eclipse.updateSite/content.jar
projects/org.apache.hadoop.eclipse.updateSite/features/
projects/org.apache.hadoop.eclipse.updateSite/plugins/
projects/org.apache.hadoop.eclipse/bin/
# Package Files #
